<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <Title>Kontranto</Title>
        <meta name="description" content="Kontranto igra">
        <link rel="stylesheet" th:href="@{/vendor/chessboard.css}">
        <link rel="stylesheet" th:href="@{/css/stilpra.css}">
        <link rel="stylesheet" th:href="@{/css/style.css}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script th:src="@{/vendor/chessboard.js}"></script>
    </head>
