<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <Title>Kontranto</Title>
        <meta name="description" content="Kontranto igra">
        <link rel="stylesheet" th:href="@{/vendor/chessboard.css}">
        <link rel="stylesheet" th:href="@{/css/stilpra.css}">
        <link rel="stylesheet" th:href="@{/css/style.css}">
        <script th:src="@{/vendor/jquery_311.js}"></script>
        <script th:src="@{/vendor/chessboard.js}"></script>
    </head>
